<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=""width=device-width, initial-scale="1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about_style.css') }}">
</head>

<body>
  <header class="navbar">
    <div class="menu-icon" onclick="openNav()">&#9776;</div>

    <div class="logo">
      <span class="flower-icon">&#10048;</span> nutrifem </div>
      
    <a href="{{ url_for('login') }}" class="btn btn-login">Login</a>
  </header>

  <!--To trigger the menu-->
  <div id="sideMenu" class="sidebar">
    <!-- Adding close button inside the menu-->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <!--Links on the menu-->
    <a href="/">Home</a>
    <a href="{{ url_for('about') }}" class="active">About</a>
    <a href="{{ url_for('login') }}">Login</a>
    <a href="{{ url_for('register') }}">Register</a>
  </div>

  <hr class="nav-divider">

  <!--To display Flash messages -->
<div class="flash-message">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flash">
          {% for category, message in messages %}
            <li class="flash-{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</div>

  <main class="container">
    <div class="hero-headings">
      <h1>About</h1>
    </div>
    
    <div class="hero-content">
      <div class="hero-image">
        <img src="{{ url_for('static', filename='images/nutrition.jpg') }}" alt="Nutrition">
      </div>

      <div class="hero-text">
        <p>Nutrifem was created to support women's hormonal and menstrual health through nutritional therapy, including women with PCOS who may suffer from various health issues such as hormonal imbalance, insulin resistance, and high blood pressure.</p>
        <h2>How does Nutrifem work?</h2>
        <p>Nutrition recommendations are based on nutritional, clinical, and academic literature in combination with machine learning. *PLEASE NOTE: Recommendations provided are not medical advice. Consult a licensed health professional for treatement of health conditions.</p>

        <!--Hidden text that will only appear when click the 'Learn More' button -->
        <div id="extra-content" style="display: none;">
          <p>Nutrifem serves as a wellness companion rather than a medical advice, recommending food based on a user questionnaire and educating them on the nutrients of foods. Simply answer a series of questions, and receive recommendations instantly.</p>
        </div>
        
          <!-- Learn more button with an onclick toggle function -->
        <button id="LearnMoreBtn" class="btn btn-learn" onclick="toggleExtraContent()">Learn More</button>

      </div>
    </div>
  </main>

  <!--JavaScript for menu sidebar-->
  <script>
    /*Opening the menu by changing the width to 250px */
    function openNav() {
      document.getElementById("sideMenu").style.width = "250px";
    }

    /*Closing the menu by changing the width back to 0 */
    function closeNav() {
      document.getElementById("sideMenu").style.width = "0";
    }

    /*Toggle extra content visibility */
    function toggleExtraContent() {
      const extraContent = document.getElementById("extra-content");
      const btn = document.getElementById("LearnMoreBtn");

      if (extraContent.style.display === "none") {
        extraContent.style.display = "block";
        btn.textContent = "Show Less";
      } else {
        extraContent.style.display = "none";
        btn.textContent = "Learn More";
      }
    }

  </script> 
</body>
</html>