<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=""width=device-width, initial-scale="1.0">
    <title>Questionnaire</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/questionnaire.css') }}">
</head>

<body>
  <header class="navbar">
    <div class="menu-icon" onclick="openNav()">&#9776;</div>
    <div class="logo">
      <span class="flower-icon">&#10048;</span> nutrifem
    </div>

    <div class="user-profile">
        <span class="greeting">Hello, User</span>
        <span class="user-icon">&#128100;</span>
    </div>     
  </header>

  <!--To trigger the menu-->
  <div id="sideMenu" class="sidebar">
    <!-- Adding close button inside the menu-->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <!--Links on the menu-->
    <a href="{{ url_for('dashboard') }}">Dashboard</a>
    <a href="{{ url_for('profile') }}">Profile</a>
    <a href="{{ url_for('logout') }}">Logout</a>
  </div>

  <hr class="nav-divider">

  <!--To display Flash messages -->
<div class="flash-message">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class="flash">
          {% for category, message in messages %}
            <li class="flash-{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</div>

  <main class="login-wrapper">
    <div class="login-container">
      <h1>Questionnaire</h1>

      <form class="login-form", method="post", action="/questionnaire">
        <div class="form-group"> 
          <label for="age">Age</label>
          <input 
            type="number" 
            id="age" 
            name="age"
            min="18"
            max="120"
            title="Please enter your age." 
            required
            value="{{ user.Age if user and user.Age != None else '' }}">
        </div>

        <div class="form-group"> 
          <label for="height">Height (cm)</label>
          <input 
            type="number" 
            id="height" 
            name="height"
            min="120"
            max="220"
            step="0.01"
            title="Please enter your height." 
            required
            value="{{ user.Height_cm if user and user.Height_cm != None else '' }}">
        </div>

        <div class="form-group"> 
          <label for="weight">Weight (kg)</label>
          <input 
            type="number" 
            id="weight" 
            name="weight"
            min="20"
            max="200"
            step="0.01"
            title="Please enter your weight." 
            required
            value="{{ user.Weight_kg if user and user.Weight_kg != None else '' }}">
        </div>

        <div class="form-group"> 
          <label for="diet">What diet do you follow?</label>
          <select name ="diet" id="diet">
            <option value="omnivore" {% if user and user.Diet == 'omnivore' %}checked{% endif %}>Omnivore</option>
            <option value="pesketarian" {% if user and user.Diet == 'pesketarian' %}checked{% endif %}>Pesketarian</option>
            <option value="vegetarian" {% if user and user.Diet == 'vegetarian' %}checked{% endif %}>Vegetarian</option>
            <option value="vegan" {% if user and user.Diet == 'vegan' %}checked{% endif %}>Vegan</option>
            <option value="halal_diet" {% if user and user.Diet == 'halal_diet' %}checked{% endif %}>Halal diet</option>
          </select>
        </div>

        <div class="form-group"> 
          <label for="allergens">Do you have any allergies? Select multiple if applicable.</label>
          <div class="checkbox-grid">
            <label class="checkbox-item"><input type="checkbox" name="allergens" value="milk" {% if user and user.Allergens and 'milk' in user.Allergens %}checked{% endif %}>Milk</label>
            <label class="checkbox-item"><input type="checkbox" name="allergens" value="egg" {% if user and user.Allergens and 'egg' in user.Allergens %}checked{% endif %}>Egg</label>
            <label class="checkbox-item"><input type="checkbox" name="allergens" value="peanut" {% if user and user.Allergens and 'peanut' in user.Allergens %}checked{% endif %}>Peanut</label>
            <label class="checkbox-item"><input type="checkbox" name="allergens" value="soy" {% if user and user.Allergens and 'soy' in user.Allergens %}checked{% endif %}>Soy</label>
            <label class="checkbox-item"><input type="checkbox" name="allergens" value="wheat" {% if user and user.Allergens and 'wheat' in user.Allergens %}checked{% endif %}>Wheat</label>
            <label class="checkbox-item"><input type="checkbox" name="allergens" value="tree_nut" {% if user and user.Allergens and 'tree_nut' in user.Allergens %}checked{% endif %}>Tree Nut</label>
            <label class="checkbox-item"><input type="checkbox" name="allergens" value="shellfish" {% if user and user.Allergens and 'shellfish' in user.Allergens %}checked{% endif %}>Shellfish</label>
            <label class="checkbox-item"><input type="checkbox" name="allergens" value="fish" {% if user and user.Allergens and 'fish' in user.Allergens %}checked{% endif %}>Fish</label>
            <label class="checkbox-item"><input type="checkbox" name="allergens" value="sesame" {% if user and user.Allergens and 'sesame' in user.Allergens %}checked{% endif %}>Sesame</label>
          </div> 
        </div>

        <div class="form-group">
          <label for="cycle_length">Average Length of Menstrual Cycle (days)</label>
          <input 
            type="number" 
            id="cycle_length" 
            name="cycle_length"
            min="10"
            max="60"
            title="Please enter the average length of your menstrual cycle." 
            required
            value="{{ user.Menstrual_Cycle_Length_days if user and user.Menstrual_Cycle_Length_days != None else '' }}">
        </div>

        <div class="form-group">
          <label for="menstrual_irregularity">Do you have irregular menstrual cycles?</label>
          <div class="radio-group">
            <label><input type="radio" id="yes" name="menstrual_irregularity" value="Yes" {% if user and user.Menstrual_Irregularity == 1 %}checked{% endif %}> Yes</label>
            <label><input type="radio" id="no" name="menstrual_irregularity" value="No" {% if user and user.Menstrual_Irregularity != 1 %}checked{% endif %}> No</label>
          </div>
        </div>
        
        <div class="form-group">
          <label for="pcos_diagnosis">Do you have PCOS?</label>
          <div class="radio-group">
            <label><input type="radio" id="yes" name="pcos_diagnosis" value="Yes" {% if user and user.PCOS_Diagnosis == 1 %}checked{% endif %}> Yes</label>
            <label><input type="radio" id="no" name="pcos_diagnosis" value="No" {% if user and user.PCOS_Diagnosis != 1 %}checked{% endif %}> No</label>
          </div>
        </div>

        <div class="form-group">
          <label for="sugar_intake">On a scale of 1 (Low) to 3 (High) what is your average sugar intake level?</label>
          <input 
            type="number" 
            id="sugar_intake" 
            name="sugar_intake"
            min="1"
            max="3"
            title="Please enter your average sugar intake level." 
            required
            value="{{ user.Dietary_Sugar_Intake if user and user.Dietary_Sugar_Intake != None else '' }}">
        </div>

        <div class="form-group">
          <label for="physical_activity">On a scale of 1 (Low) to 3 (High) what is your physical activity level?</label>
          <input 
            type="number" 
            id="physical_activity" 
            name="physical_activity"
            min="1"
            max="3"
            title="Please enter your physical activity level." 
            required
            value="{{ user.Physical_Activity_Level if user and user.Physical_Activity_Level != None else '' }}">
        </div>

        <div class="form-group">
          <label for="acne_severity">On a scale of 0 (None) to 3 (Severe) what acne severity level do you experience?</label>
          <input 
            type="number" 
            id="acne_severity" 
            name="acne_severity"
            min="0"
            max="3"
            title="Please enter your acne severity level." 
            required
            value="{{ user.Acne_Severity if user and user.Acne_Severity != None else '' }}">
        </div>

        <div class="form-group">
          <label for="alopecia">Do you have alopecia?</label>
          <div class="radio-group">
            <label><input type="radio" id="yes" name="alopecia" value="Yes" {% if user and user.Alopecia == 1 %}checked{% endif %}> Yes</label>
            <label><input type="radio" id="no" name="alopecia" value="No" {% if user and user.Alopecia != 1 %}checked{% endif %}> No</label>
          </div>
        </div>

        <div class="form-group">
          <label for="acanthosis">Do you have skin darkening acanthosis?</label>
          <div class="radio-group">
            <label><input type="radio" id="yes" name="acanthosis" value="Yes" {% if user and user.Skin_Darkening_Acanthosis == 1 %}checked{% endif %}> Yes</label>
            <label><input type="radio" id="no" name="acanthosis" value="No" {% if user and user.Skin_Darkening_Acanthosis != 1 %}checked{% endif %}> No</label>
          </div>
        </div>
        
        <div class="form-group">
          <label for="hirsutism">Do you have hirsutism?</label>
          <div class="radio-group">
            <label><input type="radio" id="yes" name="hirsutism" value="Yes" {% if user and user.Hirsutism_Score_FG == 1 %}checked{% endif %}> Yes</label>
            <label><input type="radio" id="no" name="hirsutism" value="No" {% if user and user.Hirsutism_Score_FG != 1 %}checked{% endif %}> No</label>
          </div>
        </div>

        <div class="form-group">
          <label for="fg_score">What is your Ferriman-Gallwey Hirsutism score? (Put 0 if you do not have hirsutism).</label>
          <input 
            type="number" 
            id="fg_score" 
            name="fg_score"
            min="0"
            max="24"
            title="Please enter your Ferriman-Gallwey Hirsutism score." 
            required
            value="{{ user.Hirsutism_Score_FG if user and user.Hirsutism_Score_FG != None else '' }}">
        </div>

        <p>If you can also provide the following data it can support your recommendations.</p>
        <p>If you do not have this data, you can leave the fields blank.</p>
        
        <div class="form-group">
          <label for="lh_level">Last Recorded Luteneizing Hormone (LH) Level (mIU/mL)</label>
          <input 
            type="number" 
            id="lh_level" 
            name="lh_level"
            min="1"
            max="30"
            step="0.01"
            value="{{ user.LH_mIU_mL if user and user.LH_mIU_mL != None else '' }}">
        </div>

        <div class="form-group">
          <label for="fsh_level">Last Recorded Follicle-Stimulating Hormone (FSH) Level (mIU/mL)</label>
          <input 
            type="number" 
            id="fsh_level" 
            name="fsh_level"
            min="1"
            max="30"
            step="0.01"
            value="{{ user.FSH_mIU_mL if user and user.FSH_mIU_mL != None else '' }}">
        </div>

        <div class="form-group">
          <label for="glucose_level">Fasting Glucose Level (mg/dL)</label>
          <input 
            type="number" 
            id="glucose_level" 
            name="glucose_level"
            min="30"
            max="150"
            step="0.01"
            value="{{ user.Fasting_Glucose_mg_dL if user and user.Fasting_Glucose_mg_dL != None else '' }}">
        </div>

        <div class="form-group">
          <label for="insulin_level">Fasting Insulin Level (uIU/dL)</label>
          <input 
            type="number" 
            id="insulin_level" 
            name="insulin_level"
            min="1"
            max="40"
            step="0.01"
            value="{{ user.Fasting_Insulin_uIU_mL if user and user.Fasting_Insulin_uIU_mL != None else '' }}">
        </div>

        <div class="form-group">
          <label for="total_tes">Total Testosterone (ng/dL)</label>
          <input 
            type="number" 
            id="total_tes" 
            name="total_tes"
            min="1"
            max="120"
            step="0.01"
            value="{{ user.Total_Testosterone_ng_dL if user and user.Total_Testosterone_ng_dL != None else '' }}">
        </div>

        <div class="form-group">
          <label for="free_tes">Free Testosterone (pg/dL)</label>
          <input 
            type="number" 
            id="free_tes" 
            name="free_tes"
            min="1"
            max="20"
            step="0.01"
            value="{{ user.Free_Testosterone_pg_mL if user and user.Free_Testosterone_pg_mL != None else '' }}">
        </div>

        <div class="form-group">
          <label for="cholesterol">Total Cholesterol (mg/dL)</label>
          <input 
            type="number" 
            id="cholesterol" 
            name="cholesterol"
            min="90"
            max="350"
            step="0.01"
            value="{{ user.Total_Cholesterol_mg_dL if user and user.Total_Cholesterol_mg_dL != None else '' }}">
        </div>

        <div class="form-group">
          <label for="triglycerides">Total Triglycerides (mg/dL)</label>
          <input 
            type="number" 
            id="triglycerides" 
            name="triglycerides"
            min="90"
            max="350"
            step="0.01"
            value="{{ user.Triglycerides_mg_dL if user and user.Triglycerides_mg_dL != None else '' }}">
        </div>

        <div class="form-group">
          <label for="vit_d">Vitamin D (ng/ml)</label>
          <input 
            type="number" 
            id="vit_d" 
            name="vit_d"
            min="1"
            max="100"
            step="0.01"
            value="{{ user.Vitamin_D_ng_mL if user and user.Vitamin_D_ng_mL != None else '' }}">
        </div>

        <button type="submit" class="btn btn-submit">Submit</button>
      </form>
    </div>
  </main>
    
  <!--JavaScript for menu sidebar-->
  <script>
    /*Opening the menu by changing the width to 250px */
    function openNav() {
      document.getElementById("sideMenu").style.width = "250px";
    }

    /*Closing the menu by changing the width back to 0 */
    function closeNav() {
      document.getElementById("sideMenu").style.width = "0";
    }
  </script> 
</body>
</html>