<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=""width=device-width, initial-scale="1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register_style.css') }}">
</head>

<body>
  <header class="navbar">
    <div class="menu-icon" onclick="openNav()">&#9776;</div>

    <div class="logo">
      <span class="flower-icon">&#10048;</span> nutrifem </div>
      
    <a href="/login" class="btn btn-login">Login</a>
  </header>

  <!--To trigger the menu-->
  <div id="sideMenu" class="sidebar">
    <!-- Adding close button inside the menu-->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <!--Links on the menu-->
    <a href="/">Home</a>
    <a href="{{ url_for('about') }}">About</a>
    <a href="{{ url_for('login') }}">Login</a>
    <a href="{{ url_for('register') }}" class="active">Register</a>
  </div>

  <hr class="nav-divider">

  <main class="login-wrapper">
    <div class="login-container">
      <h1>Register</h1>

      <div class="login-links" style="margin-top: -20px; margin-bottom: 25px;">
        <a href="{{ url_for('login') }}">Already a user? Login</a>
      </div>

      <form class="login-form", method="post", action="/register">
        <div class="form-group"> 
          <label for="first-name">First Name</label>
          <input 
            type="text" 
            id="first-name" 
            name="first-name"
            maxlength="26"
            title="Please enter a valid first name, only letters and hyphens are allowed." 
            required
            pattern="^[A-Za-z-]{1,26}$">
        </div>

        <div class="form-group"> 
          <label for="surname">Surname</label>
          <input 
            type="text" 
            id="surname" 
            name="surname"
            maxlength="254"
            title="Please enter a valid last name, only letters and hyphens are allowed." 
            required
            pattern="^[A-Za-z-]{1,26}$">
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input 
            type="text" 
            id="email" 
            name="email"
            maxlength="50"
            title="Please enter a valid email address."
            pattern="[\w\.-]+@[\w\.-]+\.[A-Za-z]{2,}$" 
            required>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input 
            type="password" 
            id="password" 
            name="password"
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
            title="Password must be at least 8 characters, with lowercase and uppercase characters, at least one digit and a special character." 
            required>
        </div>

        <button type="submit" class="btn btn-submit">Submit</button>
      </form>
    </div>
  </main>
    
  <!--JavaScript for menu sidebar-->
  <script>
    /*Opening the menu by changing the width to 250px */
    function openNav() {
      document.getElementById("sideMenu").style.width = "250px";
    }

    /*Closing the menu by changing the width back to 0 */
    function closeNav() {
      document.getElementById("sideMenu").style.width = "0";
    }
  </script> 
</body>
</html>