<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=""width=device-width, initial-scale="1.0">
    <title>nutrifem</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/success_style.css') }}">
</head>

<body>
  <header class="navbar">
    <div class="menu-icon" onclick="openNav()">&#9776;</div>

    <div class="logo">
      <span class="flower-icon">&#10048;</span> nutrifem </div>
      
    <a href="/login" class="btn btn-login">Login</a>
  </header>

  <!--To trigger the menu-->
  <div id="sideMenu" class="sidebar">
    <!-- Adding close button inside the menu-->
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <!--Links on the menu-->
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
  </div>

  <hr class="nav-divider">

  <main class="container">
    <div class="hero-headings">
      <h1>About</h1>
    </div>
    
    <div class="hero-content">
    <div class="flash-message">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flash">
            {% for category, message in messages %}
                <li class="flash-{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}

        {% block content %}{% endblock %}
    </div>

    <h1>Registration Successful!</h1>
    <p>Thank you for submitting the form. <a href="{{ url_for('login') }}"> Login here. </a></p>
    </div>
  </main>

  <!--JavaScript for menu sidebar-->
  <script>
    /*Opening the menu by changing the width to 250px */
    function openNav() {
      document.getElementById("sideMenu").style.width = "250px";
    }

    /*Closing the menu by changing the width back to 0 */
    function closeNav() {
      document.getElementById("sideMenu").style.width = "0";
    }
  </script> 
</body>
</html>
